[user]
	name = {{ .name }}
	email = {{ .email }}

[include]
	path = ~/.gitconfig.local

[color]
	ui = auto
[init]
	defaultBranch = main
[alias]
	ignore = "!gi() { IFS=\",\"; curl -L -s \"https://www.gitignore.io/api/$*\" | tee .gitignore;}; gi"
